public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*esbuild*
enable-pre-post-scripts=true

# Allow these specific packages to run their build scripts
allow-scripts[@prisma/client]=true
allow-scripts[@prisma/engines]=true
allow-scripts[prisma]=true
allow-scripts[esbuild]=true 